services:
  - type: web
    name: discord-music-bot
    runtime: docker
    region: singapore
    plan: free
    
    dockerfilePath: ./Dockerfile
    dockerContext: .
    
    envVars:
      - key: DISCORD_TOKEN
        sync: false
      - key: PORT
        value: 3000
        
    healthCheckPath: /health
    autoDeploy: true
